In [1]:
import pandas as pd 
import numpy as np

In [3]:
match =pd.read_csv('matches.csv')
match.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,era,date_clean
0,335982.0,0.0,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,Modern IPL (2018–Present),NaN
1,335983.0,0.0,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,Modern IPL (2018–Present),NaN
2,335984.0,0.0,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,Modern IPL (2018–Present),NaN
3,335985.0,0.0,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bengaluru,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,Modern IPL (2018–Present),NaN
4,335986.0,0.0,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,Modern IPL (2018–Present),NaN

In [5]:
match.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'era', 'date_clean'],
      dtype='object')

In [14]:
deliveries = pd.read_csv('deliveries.csv')
deliveries.head(10)

/var/folders/sq/59dhcgr90mj26f1kyvqyrsfc0000gn/T/ipykernel_21931/3460527067.py:1: DtypeWarning: Columns (6,8,12,15) have mixed types. Specify dtype option on import or set low_memory=False.
  deliveries = pd.read_csv('deliveries.csv')

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
5,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.0,6,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
6,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,0.0,7,BB McCullum,P Kumar,SC Ganguly,0,1,1,legbyes,0,NaN,NaN,NaN
7,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,1.0,1,BB McCullum,Z Khan,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
8,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,1.0,2,BB McCullum,Z Khan,SC Ganguly,4,0,4,NaN,0,NaN,NaN,NaN
9,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,1.0,3,BB McCullum,Z Khan,SC Ganguly,4,0,4,NaN,0,NaN,NaN,NaN

In [6]:
deliveries.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [23]:
# Create a dictionary for name mapping
team_mapping = {
    'Delhi Daredevils': 'Delhi Capitals',
    'Deccan Chargers': 'Sunrisers Hyderabad',
    'Kings XI Punjab': 'Punjab Kings',
    'Rising Pune Supergiant': 'Rising Pune Supergiants'
}

# Apply to both dataframes
match.replace(team_mapping, inplace=True)
deliveries.replace(team_mapping, inplace=True)

# Keep only the current/consistent teams
consistent_teams = [
    'Sunrisers Hyderabad', 'Mumbai Indians', 'Royal Challengers Bangalore',
    'Kolkata Knight Riders', 'Punjab Kings', 'Chennai Super Kings',
    'Rajasthan Royals', 'Delhi Capitals'
]

match = match[match['team1'].isin(consistent_teams) & match['team2'].isin(consistent_teams)]
deliveries = deliveries[deliveries['batting_team'].isin(consistent_teams) & deliveries['bowling_team'].isin(consistent_teams)]

In [24]:
# Calculate cumulative runs per match per innings
deliveries['current_score'] = deliveries.groupby(['match_id', 'inning'])['total_runs'].cumsum()

# Calculate cumulative wickets
deliveries['player_dismissed'] = deliveries['player_dismissed'].fillna('0')
deliveries['is_wicket'] = deliveries['player_dismissed'].apply(lambda x: 1 if x != '0' else 0)
deliveries['wickets_fallen'] = deliveries.groupby(['match_id', 'inning'])['is_wicket'].cumsum()

# Calculate current over and ball
deliveries['balls_bowled'] = (deliveries['over'] * 6) + deliveries['ball']
deliveries['balls_left'] = 120 - deliveries['balls_bowled']

In [25]:
# Get total runs for each innings
total_score_df = deliveries.groupby(['match_id', 'inning'])['total_runs'].sum().reset_index()
total_score_df.rename(columns={'total_runs': 'final_score'}, inplace=True)

# Merge back to the main deliveries dataframe
final_df = deliveries.merge(total_score_df, on=['match_id', 'inning'])

# Filter out the first 5 overs (optional, but predictions are usually more stable after the powerplay)
final_df = final_df[final_df['over'] >= 5]

In [26]:
final_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,...,fielder,is_legal_ball,ball_number_in_innings,balls_remaining,current_score,wickets_fallen,wickets_in_hand,balls_bowled,balls_left,final_score
32,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,5.0,1,BB McCullum,Z Khan,SC Ganguly,1,...,NaN,True,33,87,61,0,10,31.0,89.0,222
33,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,5.0,2,SC Ganguly,Z Khan,BB McCullum,0,...,JH Kallis,True,34,86,61,1,9,32.0,88.0,222
34,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,5.0,3,RT Ponting,Z Khan,BB McCullum,0,...,NaN,True,35,85,61,1,9,33.0,87.0,222
35,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,5.0,4,RT Ponting,Z Khan,BB McCullum,0,...,NaN,True,36,84,61,1,9,34.0,86.0,222
36,335982.0,1,Kolkata Knight Riders,Royal Challengers Bangalore,5.0,5,RT Ponting,Z Khan,BB McCullum,0,...,NaN,True,37,83,61,1,9,35.0,85.0,222

In [30]:
final_df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder', 'is_legal_ball', 'ball_number_in_innings',
       'balls_remaining', 'current_score', 'wickets_fallen', 'wickets_in_hand',
       'balls_bowled', 'balls_left', 'final_score', 'city'],
      dtype='object')

In [34]:
# Merge the city column from 'match' into your current 'final_df'
# We use 'id' from match and 'match_id' from final_df to link them
final_df = final_df.merge(match[['id', 'city']], left_on='match_id', right_on='id')

# Drop the extra 'id' column created by the merge
final_df.drop(columns=['id'], inplace=True)

In [35]:
# Now 'city' is in the index/columns, so this won't crash
final_df = final_df[['batting_team', 'bowling_team', 'city', 'current_score', 'balls_left', 'wickets_fallen', 'final_score']]

# Drop rows where city is missing (NaN)
final_df.dropna(inplace=True)

# Shuffle the data
final_df = final_df.sample(final_df.shape[0])

In [37]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error

# 1. Define which columns are categorical
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

# 2. Separate Features (X) and Target (y)
X = final_df.drop(columns=['final_score'])
y = final_df['final_score']

# 3. Split the data (80% for training, 20% for testing)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [38]:
# Create the pipeline
pipe = Pipeline(steps=[
    ('step1', trf), # Step 1: Encode the teams and cities
    ('step2', LinearRegression()) # Step 2: Apply the algorithm
])

# Train the model
pipe.fit(X_train, y_train)

# Test the model
y_pred = pipe.predict(X_test)

# Check how accurate we are
print(f"R2 Score: {r2_score(y_test, y_pred)}")
print(f"Mean Absolute Error: {mean_absolute_error(y_test, y_pred)}")

R2 Score: 0.5762585903637512
Mean Absolute Error: 14.548845947198098

In [ ]:
from xgboost import XGBRegressor

# 1. Update the pipeline to use XGBoost instead of Linear Regression
# We tune some parameters (hyperparameters) to get better results
xg_pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', XGBRegressor(n_estimators=1000, learning_rate=0.2, max_depth=12, random_state=1))
])

# 2. Train the XGBoost model
xg_pipe.fit(X_train, y_train)

# 3. Predict and evaluate
y_pred_xg = xg_pipe.predict(X_test)

print(f"XGBoost R2 Score: {r2_score(y_test, y_pred_xg)}")
print(f"XGBoost MAE: {mean_absolute_error(y_test, y_pred_xg)}")

In [40]:
pip install xgboost scikit-learn pandas

Collecting xgboost
  Using cached xgboost-3.1.2-py3-none-macosx_12_0_arm64.whl.metadata (2.1 kB)
Requirement already satisfied: scikit-learn in /Users/rushikeshmarotraojoshi/Desktop/ipl/ipl_env/lib/python3.13/site-packages (1.8.0)
Requirement already satisfied: pandas in /Users/rushikeshmarotraojoshi/Desktop/ipl/ipl_env/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy in /Users/rushikeshmarotraojoshi/Desktop/ipl/ipl_env/lib/python3.13/site-packages (from xgboost) (2.3.5)
Requirement already satisfied: scipy in /Users/rushikeshmarotraojoshi/Desktop/ipl/ipl_env/lib/python3.13/site-packages (from xgboost) (1.16.3)
Requirement already satisfied: joblib>=1.3.0 in /Users/rushikeshmarotraojoshi/Desktop/ipl/ipl_env/lib/python3.13/site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in /Users/rushikeshmarotraojoshi/Desktop/ipl/ipl_env/lib/python3.13/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/rushikeshmarotraojoshi/Desktop/ipl/ipl_env/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/rushikeshmarotraojoshi/Desktop/ipl/ipl_env/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/rushikeshmarotraojoshi/Desktop/ipl/ipl_env/lib/python3.13/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /Users/rushikeshmarotraojoshi/Desktop/ipl/ipl_env/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached xgboost-3.1.2-py3-none-macosx_12_0_arm64.whl (2.2 MB)
Installing collected packages: xgboost
Successfully installed xgboost-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [41]:
from xgboost import XGBRegressor

# 1. Update the pipeline to use XGBoost instead of Linear Regression
# We tune some parameters (hyperparameters) to get better results
xg_pipe = Pipeline(steps=[
    ('step1', trf),
    ('step2', XGBRegressor(n_estimators=1000, learning_rate=0.2, max_depth=12, random_state=1))
])

# 2. Train the XGBoost model
xg_pipe.fit(X_train, y_train)

# 3. Predict and evaluate
y_pred_xg = xg_pipe.predict(X_test)

print(f"XGBoost R2 Score: {r2_score(y_test, y_pred_xg)}")
print(f"XGBoost MAE: {mean_absolute_error(y_test, y_pred_xg)}")

XGBoost R2 Score: 0.8887163996696472
XGBoost MAE: 5.5673980712890625

In [42]:
import pickle

# Save the pipeline to a file
# 'wb' means Write Binary
pickle.dump(xg_pipe, open('pipe_score.pkl', 'wb'))

print("Model saved successfully as pipe.pkl!")

Model saved successfully as pipe.pkl!